/cfg/config.cfg
/cfg/server.cfg
/modelsounds.cache
/logs
/DownloadLists
/maps/soundcache/*.cache
/maps/graphs
/demoheader.tmp
/stats.txt
/scripts/kb_def.lst
/cfg/config.cfg
/screenshots
/docs
/downloads
/materials/temp
*.dem
/shadereditorui/shader_src
/cfg/settings.scr
/serverconfig.vdf
/bin/*.lib
/bin/*.exp
/bin/*.ilk
/bin/*.pdb
/bin/*.map

/cfg/vmt.txt
/maps/*.vmf
/cfg/pet.txt

/expressions

/bin_old
/PDBs
/logs
/vprof
/voice_ban.dt
/jb_fgd_update.zip

/*.wav
/*.tga
/cache/downloadcache.db
/maps/jb_vr_jim.bsp
/cfg/user.scr
/cfg/submitted_dumps.txt
/jb_gib_debug.log
/materials/VGUI/webview
/bin/awesomium.log