
body { 
	background-color: black;
	color: #FFFFFF;
	
	font-size: 50px;
	font-family: 'MGRay';			
}

#splash, #menu, #video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#menu, #splash, #video { display: none; }

/* video */
#video #bbb {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#video #skip 
{
	position: absolute;	
	bottom: 20px;
	right: 0;
	
	width: 100%;
	text-align: center;
	
	opacity: 0;

	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 6s;
	-webkit-animation-name: logo_pulse;
	-webkit-animation-iteration-count: infinite;			
}

/* SPLASH */
#splash #logo {
	position: absolute;	
	top: 35%;
	left: 50%;
	width: 1150px;
	margin: -75px 0 0 -575px;			
	opacity: 0;
}

#splash #logo img {
	width: 100%;
}

#splash #background div {
	position: absolute;
	top: 10%;
	left: 4%;
	width: 92%;
	height: 75%;			
	background-image: url(../img/mainmenu/background1.png);
	z-index:-1;
	opacity: 0.0;
}

#splash #start 
{
	position: absolute;	
	top: 70%;
	width: 100%;	
	opacity: 0;
	text-align: center;	

	-webkit-animation-delay: 6s;
	-webkit-animation-duration: 5s;
	-webkit-animation-name: logo_pulse;
	-webkit-animation-iteration-count: infinite;			
}

@-webkit-keyframes logo_pulse {
	from { opacity: 0.0; }
	50% { opacity: 1.0; }			
	to { opacity: 0.0; }
}

/* MENU */
		
#menu #background div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

#menu #background #bg_img {
	z-index: -10;
	background-image: url(../img/mainmenu/menu_bg_1.png);		
}

#menu #background #bg_border {
	background-image: url(../img/mainmenu/menu_bg_border.png);	
	z-index: -5;	
}

#menu #logo 
{
	position: absolute;
	z-index: -6;
	top: 10%;
	right: 5%;
	
	width: 500px;
	opacity: 0.25;
}

#menu #logo img
{
	width: 100%;
}

#links
{
	position: absolute;
	width: 90%;
	height: 80%;
	top: 10%;
	left: 5%;
				
	overflow: hidden;
	
	padding-left: 10px;			
	border-left: 4px solid #FFFFFF;
}

#links li:first-child
{
	margin-top: 50px;
}

#links li {
	/*background-color: rgba(0, 156, 189, 0.10);*/
	width: 3000px;
	padding-left: 50px;
	margin: 6px;
	letter-spacing: 0.05em;
	list-style-type: none;
}

#links li:hover {
	background-color: rgba(200, 200, 200, 0.35);
	background-image: url(../img/mainmenu/selection.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

#links li:active {
	background-color: rgba(200, 200, 200, 0.5);
}

#link_description
{
	position: absolute;
	right: 10%;
	bottom: 10%;
	z-index: 5;
}

.page_slidein
{
	position: absolute;
	width: 90%;
	height: 80%;
	top: 10%;
	left: 106%;
				
	overflow: hidden;
	
	padding-left: 10px;			
	border-left: 4px solid #FFFFFF;
}

#player_customization #selection
{
	position: relative;
	width: 1100px;
	height: 80%;
	/*background-color: rgba(0,0,0,0.35);*/
}

#player_customization #selection #preview
{
	width: 650px;
	height: 100%;
	float: left;
	
	background-position: center top;
	background-repeat: no-repeat;
}

#player_customization #selection #options
{
	float: left;
	width: 430px;
	height: 100%;
	
	padding: 0px 0 0 10px;	
}

#player_customization #selection #options li
{
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #222222;
	height: 40px;
}

#player_customization #selection #options li div
{
	font-size: 35px;
	height: 40px;
	
	display: table-cell;
	vertical-align: middle;
}

#player_customization #selection #options li img
{
	float: left;
}

#player_customization #selection #options .container
{
	padding: 3px 3px 3px 30px;
}

#player_customization #title
{ 
	padding-bottom: 15px;
}

#buttons
{ 
	padding-top: 15px;
}

#buttons li 
{ 
	padding: 0 10px 0 45px; 
	float: left;
}

#buttons li:hover {
	background-color: rgba(200, 200, 200, 0.35);
	
	background-image: url(../img/mainmenu/selection.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

#buttons li:active {
	background-color: rgba(200, 200, 200, 0.5);
}

#findserver #selection
{
	position: relative;
	width: 1100px;
	height: 80%;
	background-color: rgba(0,0,0,0.35);
	
	overflow: hidden;
	overflow-y: scroll;
}

/* hovers */
.hover_1
{
	background-color: #67665e !important;
}

.hover_2
{			
	background-color: #414033 !important;	
}	

.selected
{
	padding-left: 3px !important;
}

.selected_2
{
	color: #222222;
	background-color: #FFFFFF !important;
	margin-right: 1px;
}