@font-face {
  font-family: MGRay;
  src: url("../fonts/MGRay.ttf");
}

body
{
	-webkit-user-select: none; /* Disable selection, stops any highlighting appearing when we don't want it (ever) */
	-webkit-scrollbar { visibility: hidden; }
	background-color: transparent;
	overflow:hidden;
}

#mgshealth
{
	position: absolute;
	top: 0;
	left: 0;
	width: 512px;
	height: 64px;
	margin: 20px 0 0 20px;
}

#mgshealth div
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#mgshealth #bg
{
	background-image: url(../img/hud/mgs_health_bg.png);
}

#mgshealth #bar_red
{	
	width: 100%;
	background-image: url(../img/hud/mgs_health_bar_red.png);
}

#mgshealth #bar
{	
	width: 100%;
	background-image: url(../img/hud/mgs_health_bar.png);
}

#mgshealth #health_bg
{
	background-image: url(../img/hud/mgs_health_text_bg.png);
}

#mgshealth #health_text
{
	background-image: url(../img/hud/mgs_health_text_fg.png);
}